
$color-primary-text     : #1A1A1A
$color-secondary-text   : #FFFFFF


$color-danger           : #C0392B
$color-warning          : #D35400
$color-info             : #3498DB
$color-success          : #2ECC71 


